body {
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: url(images/fonfi.jpeg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    z-index: -1;
}


.alert {
    max-width: 90%;
    width: 500px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}




.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: 40px auto;
    top: 20%;
}

.card {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-top: 10%;
    box-shadow: 0 0 10px #00FF00; 
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


h1 {
    color: #fff;
}

.par {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.par p {
    font-size: 24px;
    color: #ffffff;
    margin: 0;
}

.card-contanier {
    padding: 10px;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #00FF00; 
}

.list-group-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
}

.list-group-item .btn-bac3 {
    margin-left: auto;
}
